:root {
  --Orange-cus: hsl(26, 100%, 55%);
  --Paleorange: hsl(25, 100%, 94%);
  --Veryvark-blue: hsl(220, 13%, 13%);
  --Darkgrayishblue: hsl(219, 9%, 45%);
  --Grayishblue: hsl(220, 14%, 75%);
  --Lightgrayishblue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-cus: hsl(0, 0%, 0%);
}
.hero {
  height: 60vh;
  padding: 40px;
  margin: 0 auto;
  width: 20%;
}
.hero__image {
  background-image: url("../../images/image-product-1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
}
.hero__percent {
  color: var(--Orange-cus);
  background-color: var(--Lightgrayishblue);
}
.rounded-prime {
  border-radius: 10px;
}
.cus-text-o {
  color: var(--Orange-cus);
}
.bg__gray {
  background-color: var(--Lightgrayishblue);
  transition: all 0.7s;
  cursor: pointer;
  border: none;
}
.bg__gray:hover {
  opacity: 0.3;
}
.thumbnails {
  transition: all 0.7s;
}
.thumbnails:hover {
  opacity: 0.6;
}
.orange-fill {
  fill: var(--Orange-cus);
}
#chevleft {
  background-image: url("../../images/icon-previous.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#chevleft:hover {
  background-image: url("../../images/prevO.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#chevRight {
  background-image: url("../../images/icon-next.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#chevRight:hover {
  background-image: url("../../images/nextO.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.modal-content {
  background-color: transparent !important;
  border: none !important;
  padding: 20px !important;
}
.cus__pos {
  left: 90%;
}
.btn-close {
  fill: var(--Orange-cus) !important;
  color: var(--Orange-cus) !important;
}
.modal-header {
  border-bottom: none !important;
}
.over {
  overflow: hidden;
}
.l-40 {
  left: 10%;
}
.p-prime {
  padding: 150px 0px;
  padding-right: 30px;
  width: 100%;
}
.toast {
  position: absolute;
  top: 10%;
  left: 60%;
  background-color: rgba(255, 255, 255, 1) !important;
  z-index: 100;
}
@media (max-width: 768px) {
  #p-buttons {
    flex-direction: column;
  }
  .toast {
    left: 50%;
  }
  .bg__gray {
    width: 100%;
  }
  #counter {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .toast {
    left: 3%;
    width: 95% !important;
  }
}
