.offcanvas-body > ul {
  list-style-type: none;
}
.offcanvas-body > ul > li > a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  transition: all 0.7s;
}
.offcanvas-body > ul > li {
  margin-bottom: 20px;
}
.offcanvas-body > ul > li > a:hover {
  color: rgb(78, 75, 75);
}
