.toast {
  position: absolute;
  top: 10%;
  left: 60%;
  background-color: rgba(255, 255, 255, 1) !important;
  z-index: 100;
  overflow: scroll;
  max-height: 180px;
}
::-webkit-scrollbar {
  display: none;
}
@media (max-width: 500px) {
  .toast {
    left: 3%;
    width: 95% !important;
  }
}
@media (max-width: 768px) {
  .toast {
    left: 50%;
  }
}
.card {
  padding: 50px;
  background-color: rgb(204, 219, 219) !important;
  width: 700px;
  margin-bottom: 100px;
  font-family: cursive;
}
.mx-cus {
  margin-right: 30%;
  margin-left: 30%;
}
